/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');
:root {
  /* Font variable */
  --font: 16px/1.25 'Raleway', sans-serif;
  
  /* Base Colours */
  --body-background: #EEF0F2;
  --background: #F3A712;
  --header-font-colour: #DB2B39;
  --h1-colour: #ffffff;
  --h2-colour: #ffffff;
  --h3-colour: #ffffff;
  --button-background-colour: #001e4d;
  --button-font-colour: #ffffff;
  --main-font: "Victor Mono", monospace;
}
/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Set up colour palette and fonts using variables */
:root {
  
  --body-background-colour: #EEF0F2;
  --body-text-colour: #000000;

  --highlight-colour: #DB2B39;

  --nav-colour: #F3A712;
  --nav-link-colour: #29335C;

  --main-font: "Victor Mono", monospace;

}